<nav class="dashboardSideBar bg-dark border-top">
    <ul class="list-unstyled pt-5 pl-3">
        <li>
            <a routerLink="categories"><i class="fas fa-tags"></i> Categories</a>
        </li>
        <li> 
            
            <a routerLink="products"> <i class="fas fa-border-all"></i> Products</a>
        </li>
        <li> 
            <a routerLink="users"> <i class="fas fa-users"></i> Users</a>
        </li>
        <li> 
            <a routerLink="orders"><i class="fas fa-truck"></i> Orders</a>
        </li>
        <li> 
            <a routerLink="colors"> <i class="fas fa-palette"></i> Colors</a>
        </li>
    </ul>
</nav>
