<section id="cartPage" class="cartPage">
    <div class="container">
        <h2 class="cartName text-center display-3 py-5">Cart</h2>
        <table class="table my-5 ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">After Discount</th>

                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody id="cartBody" *ngFor="let productCart of productsCart;let i=index">
                <!-- foreach  cartproduct -->
                <tr data-id=" value.id ">
                    <td scope="row" class="image"><img class="w-100" [src]="createImgPath(productCart.productImage)"></td>
                    <td class="align-middle">{{productCart.productName}}</td>
                    <td class="cartItemPrice align-middle">{{productCart.productPrice | currency}}</td>
                    <td class="align-middle">
                        <input (change)="quantityChanged(productQuantity.value,productCart.productId)" type="number" #productQuantity class="itemQuantity" value="1" min="1" max={{productCart.productQuantity}} onkeydown="return false">
                    </td>
                    <td class="itemTotPriceDiv align-middle">{{computeTotalProductPrice(productCart.productId) | currency}}</td>
                    <td class="itemTotPriceDiv align-middle">{{computeTotalProductPriceAfterDiscount(productCart.productId) | currency}}</td>
                    <td id="deleteItem" class="align-middle deleteItem" ><i (click)="deleteProductFromCart(productCart.productId)" class="fas fa-trash-alt"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <div id="totallprice"></div>
            </div>
            <div class="col-md-6"><a (click)="ComputeCartAndgoToCheckout()" type="button" id="goToCheckout" class="btn btn-primary d-inline-block ml-auto">Checkout</a></div>
        </div>
    </div>
</section>