<!-- *ngIf="product != null" -->


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<section id="singleProductPage" class="pt-5 mt-5" *ngIf="product != null">
  <div class="container">
    <div id="singleProductContainer mb-5" class="row productsContainer">
      <div class="col-md-6"><img [src]="createImgPath(product.image)" class="w-100"></div>
      <div class="col-md-6">
        <h2 class="my-3 display-3">{{product.name }} </h2>
        <div class="my-3 h5">
          <span class="font-weight-bold">Price : </span> 
          <span class="text-danger">{{product.price|currency}} </span>
        </div>
        <div class="my-3 h5"><span class="font-weight-bold">Category : </span> {{product.categoryName}} </div>
        <div class="description my-3 h5 "><span class="font-weight-bold">Description : </span> {{product.description}} </div>

        <div class="colors my-3 h5"><span class="font-weight-bold">Color : </span>{{product.colorName}} </div>
        <button type="button" class="addToChart  btn btn-secondary my-3 mr-3"
        (click)="addProductToCart(product.id)">
          <i class="fa fa-cart-plus"></i> Add to Cart
        </button>
        <button type="button" class="addToWishList  btn btn-danger my-3"
        (click)="addProductToWishlist(product.id)">
          <i class="fa fa-heart" aria-hidden="true"></i> Add to WishList
        </button>
      </div>
    </div>
    <hr>
    <div class="reviewsAndRelatedProducts mt-5">
      <form [formGroup]="addReviewForm" class="ReviewForm" *ngIf="!hasReview">
        <div class="form-group my-3">
          <div class="rating">
            <ngb-rating [(rate)]="loggedUserRating" [max]="5" 
            class="starInput"></ngb-rating>
          </div>
            <textarea formControlName="comment" class="form-control comment" placeholder="Leave comment" name="comment"
              rows="5"></textarea>
            <button type="submit" class="btn btn-primary my-3 px-5" [disabled]="loading"
            (click)="addReview()"> Add</button>
          </div>
      </form>
      <form [formGroup]="updateReviewForm" class="ReviewForm" *ngIf="hasReview && needUpdate">
        <div class="form-group my-3">
          <div class="rating">
            <ngb-rating [(rate)]="loggedUserRating" [max]="5" 
            class="starInput"></ngb-rating>
          </div>
            <textarea formControlName="comment" class="form-control comment" placeholder="Leave comment" name="comment"
              rows="5"></textarea>
            <!-- <div *ngIf="userName?.invalid && userName?.touched"> 
                    <small *ngIf="userName?.errors?.required" class="text-danger">user name is required</small>
                    <small *ngIf="userName?.errors?.pattern" class="text-danger">user name must be character only</small>
                </div> -->
            <button type="submit" class="btn btn-success my-3 px-3 mr-3" [disabled]="loading"
            (click)="updateReview()">Update</button>
            <button type="submit" class="btn btn-danger my-3 px-3"
            (click)="cancelUpdateReviewForm()">Cancel</button>
          </div>
      </form>
      <div class="my-5 userReview" *ngIf="hasReview && !needUpdate">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
              <h5>Your Review</h5>
            </div>
            <div class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2">
                  <span>
                    <small class="font-weight-bold text-primary">{{currentUserReview.userFullName}}</small>
                  </span>
                </div>
                <span class="text-warning"> <i class="fas fa-star"></i> {{currentUserReview.rating}}</span>
              </div>
              <small class="comment-body pl-5">{{currentUserReview.comment}}</small>
              <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="reply px-4">
                  <span class="ml-5" (click)="openUpdateReviewForm()"><i class="fas fa-edit text-primary"></i></span>
                  <span class="mx-3" (click)="deleteReview()"><i class="fas fa-trash text-danger"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class=" products relatedProducts col-md-9">
        <h2 class="mb-3 py-2 px-4 bg-dark d-inline-block text-white"> Related products </h2>
        <div class="row">
          <!-- foreach product  -->
          <div class="col-md-4 box mb-4" *ngFor="let product of relatedProducts">

            <div class="image position-relative overflow-hidden productImgWrapper">
              <a routerLink="/product-details/{{ product.id }}">
                <img class="w-100" [src]="createImgPath(product.image)" alt="img1">
                <img class="top w-100 position-absolute" [src]="createImgPath(product.image)" alt="img1">
              </a>
              <div class="quickview position-absolute w-100 main_color text-center"><i class="fas fa-eye"></i> Quickview
              </div>
            </div>

            <div class="details">
              <p class="name my-0 text-secondary"> {{product.name}} </p>
              <ngb-rating [(rate)]="product.averageRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
              <p class="name my-0 text-secondary">
                <i class="fas fa-tag"></i> {{product.categoryName}}
              </p>
              <p class="price font-weight-bold text-danger"> {{product.price|currency}} </p>
            </div>

            <div class="option text-secondary border-top py-2">
              <div class="add_chart float-left" (click)="addProductToCart(product.id)">
                <i class="fas fa-shopping-bag"></i>&nbsp; Add to chart
              </div>
              <div class="fav float-right" (click)="addProductToWishlist(product.id)">
                <i class="fas fa-heart fa-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-5 othersReviews">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
              <h5 *ngIf="reviewsCount != 0">Others Reviews</h5>
              <h5 *ngIf="reviewsCount == 0">No Reviews</h5>
            </div>
            <div class="loop" *ngFor="let review of allReviews;let i=index">
              <div class="card p-3" *ngIf="currentUserReview?.id != review.id">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                    <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2">
                    <span>
                      <small class="font-weight-bold text-primary">{{review.userFullName}}</small>
                    </span>
                  </div>
                  <span class="text-warning"> <i class="fas fa-star"></i> {{review.rating}}</span>
                </div>
                <small class="comment-body pl-5">{{review.comment}}</small>
                <!-- <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span
                    class="dots"></span> <small>Translate</small> </div>
                <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i
                    class="fa fa-check-circle-o check-icon"></i> </div>
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <!-- <nav aria-label="..." class="">
        <div class="d-inline-block">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{disabled:currentPageNumber <=1, cursorNotAllowed:currentPageNumber <=1}">
              <button class="page-link" [disabled]="currentPageNumber <=1"
                (click)="getSelectedPage(currentPageNumber-1)">Previous</button>
            </li>
            <li class="page-item" *ngFor='let x of counter(numberOfPages) ;let i = index'
              [class.active]="currentPageNumber == (i+1)">
              <a class="page-link" (click)="getSelectedPage(i+1)">{{i+1}} </a>
            </li>
            <li class="page-item"
              [ngClass]="{disabled:currentPageNumber >=numberOfPages, cursorNotAllowed:currentPageNumber >=numberOfPages}">
              <button class="page-link" [disabled]="currentPageNumber >= numberOfPages"
                (click)="getSelectedPage(currentPageNumber+1)">Next</button>
            </li>
          </ul>
        </div>
        <div class="float-right h5 mr-4 text-secondary">Showing {{currentPageNumber}} of {{numberOfPages}}</div>
      </nav> -->
    </div>
  </div>
</section>

<!-- rating star template -->
<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill"><i class="fas fa-star fa-xs"></i></span><i class="fas fa-star fa-xs"></i>
  </span>
</ng-template>