<section id="wishListPage" class="wishListPage ">
    <div class="container">
        <h2 class="cartName text-center display-3 my-5">WishList</h2>
        <table class="table my-5 productsContainer">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add to cart</th>
                    <th scope="col"><i class="fas fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody id="wishListBody" *ngFor="let product of products">
                <!-- foreach ProductWishlist -->
                <tr data-id="value.id ">
                    <td scope="row" class="image"><img class="w-100" [src]="createImgPath(product.image)"></td>
                    <td class="align-middle">{{product.name}}</td>
                    <td class="cartItemPrice align-middle font-weight-bold">{{product.price | currency}}</td>
                    <td class="itemTotPriceDiv align-middle">
                        <button  (click)="addProductToCart(product.id)" type="button" class="addToChart btn btn-primary my-3 mr-3" data-id="value.id "><i class="fa fa-cart-plus"></i> Add to Cart</button>
                    </td>
                    <td id="deleteItem" class="align-middle deleteItem"><i (click)="deleteProductFromWishList(product.id)" class="fas fa-trash-alt"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6"><button type="button" id="goToCart" class="btn btn-primary d-inline-block ml-auto">Go to cart</button></div>
        </div>
    </div>
</section>