.wishListPage .image {
  width: 100px;
}
.wishListPage .deleteItem i {
  color: #920606;
  cursor: pointer;
}
.wishListPage .deleteItem i:hover {
  color: #d60505;
}
.wishListPage .table td, .wishListPage .table th {
  text-align: center;
}