.footer .contact {background-color: #222; padding: 100px 0;}
.footer h5 {border-bottom: 1px solid #5f5f5f; font-size: 15px;}

.footer .contact input, 
.footer .contact button {background: none; border: 1px solid #5f5f5f;}
.footer .contact button:hover {background-color: #b48619;}
.footer li {cursor: pointer;}
.footer li:hover {color: #b48619; padding-left: 5px;}

.footer .copyright {background-color: #000;}
.footer a {color: #FFF;}