<div class="footer text-white">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-uppercase mr-4 pb-2 mb-5 font-weight-bold">contact us</h5>
          
          <div class="row my-4">
            <div class="col-2 pt-2"><i class="fas fa-map-marker-alt"></i></div>
            <div class="col-10 px-0">
              My Company, 45 Puffin St. <br> Poffinville France.
            </div>
          </div>

          <div class="row my-4">
            <div class="col-2 pt-2"><i class="fas fa-phone-alt"></i></div>
            <div class="col-10 px-0">
              +201 (987) 6641 053 <br>
              +202 (987) 6641 056
            </div>
          </div>

          <div class="row my-4">
            <div class="col-2 pt-2"><i class="fas fa-envelope-open"></i></div>
            <div class="col-10 px-0">
              info@domainname.com <br>
              company@outlook.com
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <h5 class="text-uppercase  mr-4 pb-2 mb-5  font-weight-bold">sections</h5>
          <ul class="list-unstyled text-capitalize">
            <a routerLink="">
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" data-page="page01">home   <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            </a>
            <a routerLink="/shop">
              <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" data-page="page02">clothes <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            </a>
            <a routerLink="/shop">
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" data-page="page03">sport   <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            </a>
            <a routerLink="/shop">
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" data-page="page04">shoes   <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            </a>
            <a routerLink="/shop">
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" data-page="page05">watches <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            </a>
            <a routerLink="/shop">
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" data-page="page06">bags    <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            </a>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mr-4 pb-2 mb-5 font-weight-bold">customer service</h5>
          <ul class="list-unstyled text-capitalize">
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden" >contact us   <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden">returns       <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden">brands        <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden">site map      <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
            <li class="w-75 border-bottom pb-1 mb-1 overflow-hidden">gift vouchers <i class="fas fa-angle-right fa-sm float-right pt-2"></i></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mr-4 pb-2 mb-5  font-weight-bold">newsletter</h5>
          <p class="my_p mb-4">There are many variations of passages of Lorem Ipsum available,or randomised words which don't look even slightly</p>
          <input class="py-2 px-3 my-3 text-white" type="email" name="e-mail" id="mail" placeholder="Enter your E-mail">
          <button class="py-1 px-3 text-white text-capitalize" type="submit">submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text-center text-capitalize py-4">
    &copy; 2020 all rights reversed MG Jimmy 
  </div>
</div>
