/*-------------- Start sale -------------*/

.header-top {
    background-color: rgba(0, 0, 0, 0.8);
    color: #999;
    top: 0;
    z-index: 9999;
    font-size: 15px;
}

.header-top .sale span {
    color: #b48619;
}

.header-top .social i {
    cursor: pointer;
}

.header-top .social i:hover {
    color: #b48619;
}


/*************** End sale ******************/


/*-------------- Start navbar -------------*/

.navbar .nav_icons form {
    top: 43px;
    right: 30px;
}

.navbar .nav_icons i {
    cursor: pointer;
}

.navbar .nav_icons i:hover {
    color: #b48619;
}

.navbar .nav_icons .close_icon {
    left: -21px;
    top: 3px;
}

.navbar .nav_icons .close_icon:hover {
    color: rgb(190, 0, 0);
}

.opacity_0 {
    opacity: 0;
    z-index: -1;
}

.navbar .nav_icons form input {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    color: #fff;
    border-radius: 20px;
    width: 250px;
    padding-right: 30px;
}

.navbar .nav_icons form button {
    background: none;
    color: #b48619;
    right: 15px;
    top: 6px;
    border: none;
}

.miniCartWrapper {
    right: 6.75rem;
    z-index: 999;
    top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}