<!-- start sale -->
<!-- <div class="header-top py-2 w-100 position-absolute">
      <div class="container-md">
        <div class="row">
          <div class="call col-md-4 text-md-left d-none d-md-block">Call: (+20) 123-4568</div>
          <div class="sale col-6 col-md-4 text-left text-md-center">Sammer sale discount <span>40% off.</span></div>
          <div class="social col-6 col-md-4 text-right">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f  px-2"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter px-2 border-left"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube px-2 border-left"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram px-2 border-left"></i></a>
          </div>
        </div>
      </div>
    </div> -->
<!-- End sale -->

<!---------------------------------------------------->
<!------------------ Start navbar  ------------------->
<!---------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark py-1 py-md-2 fixed-top text-capitalize w-100">
    <a class="navbar-brand ml-lg-5 ml-sm-0" routerLink="">Style<span>ford.</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-mobile" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="container-md">
        <div class="collapse navbar-collapse col-xs-12" id="nav-mobile">
            <ul class="navbar-nav mx-auto font-weight-bold">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="">home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/shop">Shop</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" routerLink="/wishlist">Wishlist</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" routerLink="/cart">Cart</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" routerLink="/myorders">My orders</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserAdmin()">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item px-2" *ngIf="!isUserLoggedIn()">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item px-2" *ngIf="!isUserLoggedIn()">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" (click)="logoutUser()">Logout</a>
                </li>
                <li class="nav-item px-2" *ngIf="isUserLoggedIn()">
                    <a class="nav-link" routerLink="/setting">Setting</a>
                </li>
            </ul>
        </div>
        <div class="nav_icons d-none d-md-block  position-relative ml-auto">
            <i *ngIf="!openSearch" class="search_close_open fas fa-search px-2 position-relative" (click)="openSearchBar()"></i>
            <i *ngIf="openSearch" class="search_close_open close_icon fas fa-times position-absolute" (click)="closeSearchBar()"></i>
            <i class="fas fa-shopping-cart px-2 border-left" (click)="showMiniCart = !showMiniCart"></i>

            <form *ngIf="openSearch" class="search_bar form-inline my-2 my-lg-0 position-absolute" (ngSubmit)="goToSearchPage(searchBar.value)">
                <input #searchBar class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="position-absolute rounded-circle" type="submit">
              <i class="fas fa-search "></i>
            </button>
            </form>
        </div>
    </div>
</nav>
<div class="position-fixed miniCartWrapper" *ngIf="showMiniCart">
    <app-mini-cart></app-mini-cart>
</div>